.dropdown-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.btn-test {
    overflow-y: visible;
}

.inputclass{
    visibility: hidden;
    display: none;
    width: 0;
    height: 0;
}

